.omeletpic {
    background-image: url("omelet.webp");
    width: 100%;
    height: 300px;
    margin-left: 0px;
    border-radius: 9px;
    
}

.omebody {
    margin-bottom: 30%;
    padding-bottom: 5px;
    border-radius: 5px;
    padding: 20px;
   
    
}

body {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 50%;
   background-color: #EADDC8;
   padding-top: 50px;
    
}

.prepare2 {
    background-color: #f6ebee;
    padding-bottom: 5px;
    padding-top: 1px;
    margin-left: 1px;
    border-radius: 10px;
}


.prepare {
    color: rgb(110, 4, 110);
    padding-left: 17px;
    border-radius: 10px;

}

.ingre2 {
    color: rgb(166, 54, 54);
    padding-left: 4px;
}

.patt{
    padding-right: 30px;
}
.ingre {
    color: rgb(164, 60, 60);
    padding-top: 10px;
    padding-left: 4px;
}

.divider {
    border-top: solid 1px rgb(230, 225, 225);
    margin-right: 2%;
    margin-left: 12px;
}

.divider2 {
    border-top: solid 1px rgb(230, 225, 225);
    margin-right: 2%;

}

.divider3 {
    border-top: solid 1px rgb(230, 225, 225);
    margin-right: 2%;
}

.min {
    font-weight: bold;
}


.nut {
    margin-bottom: 30px;
    padding-left: 4px;
}

.nutt2 {
    margin-left: 220px;
    color: rgb(164, 51, 51);
}

.nutt3 {
    margin-left: 240px;
    color: rgb(163, 50, 50);
}

.nutt4 {
    margin-left: 230px;
    color: rgb(166, 55, 55);
}

.nutt5 {
    margin-left: 255px;
    color: rgb(164, 53, 53);
}

.calori {
    padding-left: 10px;
    padding-bottom: 10px;
}

.calo2 {
    margin-left: 10px;

}

.rep {
    font-weight: 1000;
    margin-left: 4px;
}

.rep2 {
    margin-left: 4px;
}

.orderlist li::marker {
    color: rgb(167, 51, 51);
}

.unorderlist li::marker {
    color: rgb(138, 83, 138);
}

.unorderlist2 li::marker {
    color: rgb(168, 47, 47);
}

.inner {
    background-color: white;
    border-radius: 10px;
    margin-right: 23%;
}













/* x-small devices (portrait phones, less than 320px)*/
@media(max-width: 360px) {
    body {
        display: flex;
        background-color: none;
        width: 90%;
        height: 100%;
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 0px;

    }
    .omeletpic {
        height: 150px;
        width: 100%;
        border-radius: 0px;
        padding: 0px;
        margin-top: 0px;

    }

    .rep {
        padding-left: 20px;
        
    }

    .rep2 {
        padding-left: 20px;
        margin-right: 20px;
    }

    .prepare {
        padding-left: 10px;

    }


    .prepare2 {
        padding-left: 10%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .ingre {
        padding-left: 20px;

    }

    .patt {
        padding-right: 20px;
    }

    .patt2 {
        padding-left: 20px;
    }


    .ingre2 {
        padding-left: 20px;
    }


    .nut {
        padding-left: 20px;
    }

    .divider {
        margin-left: 20px;
        margin-right: 20px;
    }


    .divider3 {
        margin-left: 15px;
        margin-right: 20px;
    }

    .calo2 {
        margin-left: 40px;
    }

    .nutt2 {
        margin-left: 84px;
    }

    .nutt3 {
        margin-left: 100px;
    }

    .nutt4 {
        margin-left: 90px;
    }

    .nutt5 {
        margin-left: 115px;
    }

    .omebody {
        padding: 0px;
        margin-top: 0px;
        border-radius: 0px;
        margin-bottom: 0%;
        margin-top: 0px;
        background-color: none;

    }

    .inner {
        margin-right: 0%;
        border-radius: 0px;

    }

    .divider {
        margin-right: px;
    }

    .calori {
        padding-bottom: 20px;
    }


}


/*medium device*/
@media(max-width: 800px) {

    .omeletpic {
        height: 150px;
    }

    body {
        width: 500px;
        height: 200px;
    }
}

/* large device*/
@media(max-width: 1200px) {
    .omeletpic {
        height: 200px;
    }

    .body {
        width: 700px;
    }
}

@media(max-width: 1152px) {
    body {
        width: 600px;
        height: 100px;

    }
}

/*x large media*/
@media(max-width: 1524px) {
    .omeletpic {
        height: 200px;
    }
}

